.hidden{
    display: none;
}

table, th, td {
    border: 1px solid;
  }

  .center {
    border: 1px solid;
    display: flex;
    justify-content: center;
  }

  button {
    border: 1px solid;
    display: flex;
    margin:auto;
    justify-content: center;
  }
  .highlighted {
    background-color:darkseagreen;
  }